/* leave the commenta for future exploration */

.details::details-content {
  display: block;
  block-size: 0;
  overflow: hidden;
  transition-property: block-size, content-visibility;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.details[open]::details-content {
  /* Fallback for browsers that don't support calc-size() function */
  block-size: auto;

  /* calc-size() function allows transition to height: auto; */
  block-size: calc-size(auto, size);
}

.details[open] {
  .summary {
    /* @apply bg-accent/20 */
    /* background-color: color-mix(in oklab, var(--accent-foreground) 20%, transparent); */
    background-color: var(--muted);
  }
}

.summary::marker {
  font-size: 1.05rem;
}

/* .summary::before {
	content: '»';
	position: absolute;
	inset-inline-start: 0.3rem;
	inset-block-start: 0.16rem;
	font-size: 1.5rem;
	transition: rotate 0.2s;
}

.details[open] .summary::before {
	rotate: 90deg;
	inset-block-start: 1rem;
} */
